@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    font-family: 'PT Sans', sans-serif;
}

.heading {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
  color: #DDE392;
  font-weight: 700;
  text-align: center;
  padding: 1.5em 1em 1em 1em;
  font-size: 3.5rem;

}

/* NAVBAR AND FOOTER */

.topnav {
    background: rgb(221,227,146);
    background: linear-gradient(180deg, rgba(221,227,146,1) 0%, rgba(210,215,145,0.9864146342130602) 35%, rgba(189,194,129,1) 100%);
    overflow: hidden;
    border-radius: 	0.3em;
    width: 100%
  }
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    border-right: 1px black solid;
    letter-spacing: 0.1em;
  }

  .topnav a:nth-of-type(8) {
    border-right: none;
  }


.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background: rgb(147,70,83);
    background: linear-gradient(180deg, rgba(147,70,83,1) 0%, rgba(115,56,66,1) 35%, rgba(92,45,53,1) 100%);
    color: white;
  }
  
.topnav .icon {
    display: none;
  }

/* HOME */

  #showcase{
    background: linear-gradient(180deg, rgba(34,85,96,1) 0%, rgba(43,97,110,1) 42%, rgba(32,75,85,1) 100%);
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
  }
  
  #showcase h1{
    font-size: 4rem;
    letter-spacing: .15em;
    color: #DDE392;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75rem;
    color: white;
    padding-bottom: 2.2857em;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .15em;
  }

  
  
  .button {
    border-radius: 0.25em;
    background:rgb(147,70,83);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5rem;
    padding: .8em;
    width: 5em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .1em;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


/* VASE */

.wrapper {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

#vase-body {
  background: black;
}

.text-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
}

.vase-text {
  color: white;
  padding-bottom: .5em;
}

#vase-heading {
  font-size: 3rem;
  padding: .75em 1em 0em 1em;
}

#vase-container {
  padding-bottom: 2em;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

svg {
  pointer-events: all;
}

.g{
  fill:black;
}

.i{
  fill:#afb371;
}

.j{
  fill:#bbbf79;
}

.k{
  fill:#c07146;
}

.l{
  fill:#c7cb80;
}

.m{
  fill:#231f20;
}

.n, .o{
  fill:#4092a6;
}

.h {
  fill:#327080;
}

.h-highlight {
  fill: #204b55;
}

.k-highlight {
  fill:#a2613d
}

.l-highlight {
  fill:#b0b473
}

.i-highlight {
  fill:#979a61
}

.j-highlight {
  fill:#a5a86a
}

.n-highlight{
  fill:#347686;
}

#vase {
  width: 40em;
}

/* TEAM */

#team-body {
  background: rgb(34,85,96);
  background: linear-gradient(180deg, rgba(34,85,96,1) 0%, rgba(43,97,110,1) 42%, rgba(32,75,85,1) 100%);
  padding-bottom: 2em;
}

.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.card {
    background: rgb(117,55,66);
    background: radial-gradient(circle, rgba(117,55,66,1) 0%, rgba(123,58,69,1) 21%, rgba(99,47,55,1) 100%);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    color: white;
    max-width: 67vw;
    border-radius: 0.4em;
    margin-bottom: 1em;
    padding: 2em 2em;
    font-size: 1rem;
}

.profile-image {
    border-radius: 50%;
    height: 15vh;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.info {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5em;
    
}

.name-title {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    align-self: center;
    font-weight: 500;
}

.name {
    font-size: 1.3rem;
    line-height: normal;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1em;
}

.title {
    font-size: .9rem;
    margin-top: .2em;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.05em;
}
    

.bio {
    font-size: .9rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction:column;
}

.bio-p {
  margin-bottom: 1em;
}

/* ABOUT */

#about {
  background: rgb(117,55,66);
  background: radial-gradient(circle, rgba(117,55,66,1) 0%, rgba(123,58,69,1) 21%, rgba(99,47,55,1) 100%);
  color: white;
  max-width: 67vw;
  border-radius: 0.4em;
  margin-bottom: 1em;
  padding: 2em 2em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

#about-heading {
  color: #DDE392;
  font-weight: 700;
  text-align: center;
  padding: 1.5em 0em 1em 0em;
  font-size: 3.5rem;
}


@media (max-width: 834px) {

  #showcase .button {
    margin-bottom: 1em;
  }

  #showcase h1 {
    padding-top:.5em;
   }

}


@media (min-width: 960px) {

    .team-members {
        display: grid;
        column-gap: 5em;
        row-gap: 2em;
        grid-template-columns: 35em 35em;
        grid-auto-rows:auto;
        justify-content: center;
        align-content: center;
        grid-auto-flow: row;
    }

    .heading {
        font-size: 4rem;
    }

    .danika .bio {
      margin-bottom: 3.666em;
    }

    .martine .bio {
      margin-bottom: 1.3335em;
    }

    .christine .bio {
      margin-bottom: 1em;
    }


    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 2em;
    }

    .vase-text {
      font-size: 1.5rem;
    }

    .vase-container {
      width: 50%;
    }

    #vase-heading {
      font-size: 4em;
      padding-top: 1.5em;
    }

    #vase-container {
      padding-bottom: 0;
    }

    #showcase h1 {
      padding-top: .7em;
      font-size: 6em;
     }

     #showcase h2 {
      font-size: 4em;
      padding-bottom: 1.5em;
     }

}

/* MEDIA QUERIES */
  
  @media screen and (max-width: 1289px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav a {
      border-right: none;
      letter-spacing: .1em;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
