@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}

.heading {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
  color: #201108;
  font-weight: 700;
  text-align: center;
  padding: 1.5em 1em 1em 1em;
  font-size: 3.5rem;
}

span a {
  color: #DDDDEE;

}


span a:hover {
  color: red;
}

.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* NAVBAR AND FOOTER */

.topnav {
  background: linear-gradient(180deg, rgba(143, 49, 45, 1) 0%, rgba(167, 58, 54, 1) 35%, rgba(163, 58, 53, 1) 100%);
  overflow: hidden;
  border-radius: 0.3em;
  width: 100%
}

.topnav a {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  border-right: 1px black solid;
  letter-spacing: 0.1em;
}

.topnav a:nth-of-type(8) {
  border-right: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background: radial-gradient(circle, rgba(96, 42, 40, 1) 0%, rgba(114, 50, 48, 1) 100%);
  color: white;
}

.topnav .icon {
  display: none;
}

/* HOME */

#showcase {
  background: linear-gradient(180deg, rgba(198, 179, 161, 1) 0%, rgba(209, 189, 172, 1) 35%, rgba(172, 157, 142, 1) 100%) fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showcase h1 {
  font-size: 3.3rem;
  color: #201108;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  color: #4E1818;
  padding-bottom: 1.14285em;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .15em;
}


.button {
  border-radius: 0.25em;
  background: #be3f3c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2rem;
  padding: .5em;
  width: 5em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1em;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* VASE */

.wrapper {
  display: flex;
  flex-direction: column;
}

#vase-body {
  background: linear-gradient(180deg, rgba(198, 179, 161, 1) 0%, rgba(209, 189, 172, 1) 35%, rgba(172, 157, 142, 1) 100%) fixed;
  height: 100vh;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.vase-text {
  color: black;
  padding-bottom: .5em;
  font-size: 1.3rem;
}

#vase-heading {
  font-size: 3rem;
  padding: .5em 0em 0em 0em;
}

#vase-heading-2 {
  font-size: 2.5rem;
  padding: .5em 0em 0em 0em;
}

#vase-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#vase {
  width: 90em;
  height: 20em;
}

.g {
  fill: black;
}

.i {
  fill: #afb371;
}

.j {
  fill: #bbbf79;
}

.k {
  fill: #c07146;
}

.l {
  fill: #c7cb80;
}

.m {
  fill: #231f20;
}

.n {
  fill: #4092a6;
}

.o {
  fill: #6f5c50;
}

.h {
  fill: #327080;
}

.h-highlight {
  fill: #204b55;
}

.k-highlight {
  fill: #a2613d
}

.l-highlight {
  fill: #b0b473
}

.i-highlight {
  fill: #979a61
}

.j-highlight {
  fill: #a5a86a
}

.n-highlight {
  fill: #347686;
}

/* FRAGMENTS */

.fragment-video {
  width: 90vw;
  height: 30vh;
  padding-bottom: 0;
}

#about-heading {
  font-weight: 700;
  text-align: center;
  padding: .5em 0em .3em 0em;
  font-size: 5rem;
}

.fragment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}

#fragment-button {
  font-size: 2rem;
  width: auto;
}

#about-subheading {
  font-size: 2rem;
  line-height: normal;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  padding-bottom: .5em;
}

.libretto {
  margin-top: 1em;
  color: black;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.4em;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.libretto-p {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  text-transform: uppercase;
  font-size: .8em;
}

.libretto-text {
  display: flex;
  flex-direction: column;
}

.attribution {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 700;
}

.loren {
  color: #007575;
}

.dubnoff {
  color: #CC0000;
}

.barnard {
  color: #A36A00;
}

.three {
  margin-right: .5em;
}

.two {
  margin-right: 1.05em;
}

.one {
  margin-right: 1.68em;
}

.translation-key {
  display: flex;
  flex-direction: column;
  font-size: .7em;
  text-align: right;
}

.hidden {
  color: white;
}

/* TEAM */

#team-heading {
  padding: 1em 1em 0em 1em;
}

#team-body {
  background: linear-gradient(180deg, rgba(198, 179, 161, 1) 0%, rgba(209, 189, 172, 1) 35%, rgba(172, 157, 142, 1) 100%) fixed;
  height: 100vh
}

.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5em;
  padding-bottom: 2.5em;
}

.card {
  background: radial-gradient(circle, rgba(96, 42, 40, 1) 0%, rgba(114, 50, 48, 1) 100%);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  color: white;
  max-width: 67vw;
  border-radius: 0.4em;
  margin-bottom: 1em;
  padding: 2em 2em;
  font-size: 1rem;
}

.profile-image {
  border-radius: 50%;
  width: 15vh;
  max-width: 12em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.info {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5em;

}

.name-title {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  align-self: center;
  font-weight: 500;
}

.name {
  font-size: 1.5rem;
  line-height: normal;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
}

.title {
  font-size: 1.2rem;
  margin-top: .2em;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.05em;
}


.bio {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.bio-p {
  margin-bottom: 1em;
}

/* ABOUT */

#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#about {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgba(96, 42, 40, 1) 0%, rgba(114, 50, 48, 1) 100%);
  color: white;
  border-radius: 0.4em;
  margin-bottom: 1em;
  padding: 2em 2em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 75vw;
}

#subheading {
  font-size: 2.5rem;
  line-height: normal;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  padding-bottom: .5em;
}

.about-p {
  font-size: 1.05rem;
}


@media (max-width: 834px) {

  #showcase .button {
    margin-bottom: 1em;
  }

  #showcase h1 {
    padding: .5em;
  }

}

/* PROGRAM */

#program-heading {
  padding-bottom: 0;
  padding-top: 1em;
}

#program {
  width: 90%;
  height: 100vh;
}

iframe {
  margin: auto;
  display: block;
  padding-bottom: 2em;
  padding-top: 2em;
  border: none;
}

/* CONTACT */

#contact-body {
  background-color: #c6b3a1;
}

/* ACKNOWLEDGEMENTS */

#acknowledgements-heading {
  font-size: 2rem;
  padding-top: 1em;
  padding-bottom: .5em;
}

.ack-p {
  font-size: 1.1rem;
  text-align: center;
}

#image-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canadacouncil {
  width: 95vw;
  padding-bottom: 1em;
}

#artsns {
  width: 45vw;
}


@media (min-width: 768px) {

  .fragment-video {
    height: 40vh;
  }

  .libretto #about-subheading { 
    font-size: 2rem;
  }

  .libretto {
    font-size: 1rem;
  }

  #vase-heading {
    font-size: 7rem;
    padding-top: .5em;
  }

  #vase-heading-2 {
    font-size: 5rem;
  }

  #vase {
    height: 40em;
  }

  .vase-text {
    font-size: 1.8em;
  }

}

@media (min-width: 1024px) {

  .name {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }



  #vase-heading {
    font-size: 7rem;
    padding-top: .5em;
  }

  #vase-heading-2 {
    font-size: 5rem;
  }

  #vase {
    height: 40em;
  }

  .vase-text {
    font-size: 1.8em;
  }

  .libretto {
    font-size: 2rem;
  }

  #fragment-button {
    margin: auto;
    font-size: 2.8rem;
  }

  .libretto #about-subheading {
    font-size: 4rem;
  }

  #acknowledgements-heading {
    font-size: 5rem;
    padding-bottom: .3em;
  }

  .ack-p {
    font-size: 1.9rem;
  }

  .about-p {
    font-size: 1.9rem;
  }

  #about-heading {
    font-size: 7rem;
  }

  #program-heading {
    font-size: 6rem;
  }

  #team-heading {
    font-size: 5rem;
  }

  .profile-image {
    width: 13vh;
  }

  #showcase h1 {
    padding: .5em;
    font-size: 6rem;
  }

  #showcase h2 {
    font-size: 5rem;
    padding-bottom: .5em;
  }

  .button {
    font-size: 3rem;
  }
}

@media (min-width: 1025px) {

  .team-members {
    display: grid;
    column-gap: 5em;
    row-gap: 2em;
    grid-template-columns: 35em 35em;
    grid-auto-rows: auto;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
  }
  
  .heading {
    font-size: 5rem;
  }

  #subheading {
    font-size: 5rem;
  }

  #image-container {
    display: flex;
    flex-direction: row;
  }

  #canadacouncil {
    width: 45vw;
    padding-bottom: 0;
    padding-right: 1em;
  }

  #artsns {
    width: 15vw;
  }

  .name {
    font-size: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .danika,
  .nicole {
    height: 51.6958125em;
  }

  .martine,
  .graces {
    height: 51.07425em;
  }

  .gracei,
  .christine {
    height: 25.525375em;
  }


  .wrapper {
    display: grid;
    column-gap: 5em;
    grid-template-columns: 35em 35em;
    grid-auto-rows: auto;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
  }

  .vase-text {
    font-size: 1.5rem;
  }

  .vase-container {
    padding-bottom: 0;
    height: 100%
  }

  #vase {
    width: auto;
    height: auto;
  }

  .fragment-video {
    width: 80vw;
    height: 80vh;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a {
    border-right: none;
    letter-spacing: .1em;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 1800px) {

  .libretto {
    font-size: 2.5rem;
  }

  .libretto #about-subheading {  
    font-size: 6rem;
  }

  #fragment-button {
    font-size: 3.5rem;
  }

  .vase-text {
    font-size: 1.8rem;
  }

  .wrapper {
    margin-top: 1em;
    grid-template-columns: 45em 45em;
  }

  .ack-p {
    font-size: 3rem;
  }

  .team-members {
    grid-template-columns: 50em 50em;
  }

  #team-heading {
    font-size: 6rem;
  }

  #acknowledgements-heading {
    font-size: 6rem;
  }

  .bio {
    font-size: 1.4rem;
  }

  .name {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .team-members {
    margin-top: 3.5em;
    padding-bottom: 3.5em;
    grid-template-columns: 50em 50em;
  }

  .danika,
  .nicole {
    height: 59.6958125em;
  }

  .martine,
  .graces {
    height: 61.07425em;
  }

  .gracei,
  .christine {
    height: 31.525375em;
  }

  .about-p {
    font-size: 2.1rem;
  }

  #subheading {
    font-size: 7rem;
  }

  #about-heading {
    font-size: 9rem;
  }

  #showcase h1 {
    font-size: 9rem;
  }

  #program {
    width: 50%;
    height: 1060vh;
  }

  #program-heading {
    font-size: 6rem;
  }
}
